@import "tailwindcss";

@layer base {
  :root {
    --color-obsidian: #030305;
  }

  body {
    background-color: #030305;
    color: #f1f5f9;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    overflow-x: hidden;
  }
}
